.card {
    &:nth-child(1) {
        background-color: var(--color-bg-work);
        background-image: url(../images/icon-work.svg);
    }
    &:nth-child(2) {
        background-color: var(--color-bg-play);
        background-image: url(../images/icon-play.svg);
    }
    &:nth-child(3) {
        background-color: var(--color-bg-study);
        background-image: url(../images/icon-study.svg);
    }
    &:nth-child(4) {
        background-color: var(--color-bg-exercise);
        background-image: url(../images/icon-exercise.svg);
        background-position: 92% -0.1rem;
    }
    &:nth-child(5) {
        background-color: var(--color-bg-social);
        background-image: url(../images/icon-social.svg);
    }
    &:nth-child(6) {
        background-color: var(--color-bg-self-care);
        background-image: url(../images/icon-self-care.svg);
    }
}
