@use '../util' as *;

.card {
    border-radius: rem(16);
    background-repeat: no-repeat;
    background-position: 92% -1rem;
    transition: all ease 0.5s;

    &:hover {
        transform: scale(1.05);
    }

    &__content {
        background-color: var(--color-bg-card);
        margin-top: rem(40);

        border-radius: rem(16);
        padding: rem(28);
        cursor: pointer;
        transition: all ease 0.5s;

        &:hover {
            background-color: #33387a;
        }
    }

    &__assignment,
    &__date {
        @include flex(space-between);
    }

    &__date {
        margin-top: rem(8);

        @include breakpoint(medium) {
            flex-direction: column;
            align-items: initial;
            gap: rem(16);
            margin-top: rem(32);
        }
    }

    &__title,
    &__hours {
        color: #fff;
        letter-spacing: 1px;
    }

    &__title {
        font-size: rem(16);
        font-weight: 500;
    }

    &__hours {
        font-size: rem(32);
        font-weight: 300;

        @include breakpoint(medium) {
            font-size: rem(50);
        }
    }

    &__description {
        font-size: 0.95rem;
        color: var(--color-report);
    }
}
